<?php

/**
 * Cloud Manager API
 * This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/master/swagger-specs/api.yaml.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI-Generator
 * https://openapi-generator.tech
 * Do not edit the class manually.
 *
 * Source files are located at:
 *
 * > https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/php-laravel/
 */

/**
 * get getBranches
 * Summary: List Branches
 * Notes: Returns the list of branches from a repository
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/repository/{repositoryId}/branches', 'BranchesController@getBranches');
/**
 * delete deleteEnvironment
 * Summary: DeleteEnvironment
 * Notes: Delete environment
 * Output-Formats: [application/json]
 */
Route::delete('/api/program/{programId}/environment/{environmentId}', 'EnvironmentsController@deleteEnvironment');
/**
 * get getEnvironment
 * Summary: Get Environment
 * Notes: Returns an environment by its id
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/environment/{environmentId}', 'EnvironmentsController@getEnvironment');
/**
 * get getEnvironmentLogs
 * Summary: Get Environment Logs
 * Notes: List all logs available in environment
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/environment/{environmentId}/logs', 'EnvironmentsController@getEnvironmentLogs');
/**
 * get downloadLogs
 * Summary: Download Logs
 * Notes: Download environment logs
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/environment/{environmentId}/logs/download', 'EnvironmentsController@downloadLogs');
/**
 * get getEnvironments
 * Summary: List Environments
 * Notes: Lists all environments in an program
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/environments', 'EnvironmentsController@getEnvironments');
/**
 * get getCurrentExecution
 * Summary: Get current pipeline execution
 * Notes: Returns current pipeline execution if any.
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/pipeline/{pipelineId}/execution', 'PipelineExecutionController@getCurrentExecution');
/**
 * put startPipeline
 * Summary: Start the pipeline
 * Notes: Starts the Pipeline. This works only if the pipeline is not already started.

 */
Route::put('/api/program/{programId}/pipeline/{pipelineId}/execution', 'PipelineExecutionController@startPipeline');
/**
 * get getExecution
 * Summary: Get pipeline execution
 * Notes: Returns a pipeline execution by id
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}', 'PipelineExecutionController@getExecution');
/**
 * get stepState
 * Summary: Get step state
 * Notes: 
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}/phase/{phaseId}/step/{stepId}', 'PipelineExecutionController@stepState');
/**
 * put advancePipelineExecution
 * Summary: Advance
 * Notes: Post to this url in order to advance the current pipeline execution, if paused and waiting for user interaction. Link is present in output only in that case. The input depends on the actual reason for which the pipeline execution stopped.

 */
Route::put('/api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}/phase/{phaseId}/step/{stepId}/advance', 'PipelineExecutionController@advancePipelineExecution');
/**
 * put cancelPipelineExecutionStep
 * Summary: Cancel
 * Notes: Post to this url in order to cancel the current pipeline execution. Link is present in output only in that case.

 */
Route::put('/api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}/phase/{phaseId}/step/{stepId}/cancel', 'PipelineExecutionController@cancelPipelineExecutionStep');
/**
 * get getStepLogs
 * Summary: Get logs
 * Notes: Get the logs associated with a step.

 */
Route::get('/api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}/phase/{phaseId}/step/{stepId}/logs', 'PipelineExecutionController@getStepLogs');
/**
 * get stepMetric
 * Summary: Get step metrics
 * Notes: 
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}/phase/{phaseId}/step/{stepId}/metrics', 'PipelineExecutionController@stepMetric');
/**
 * get getExecutions
 * Summary: List Executions
 * Notes: Returns the history of pipeline executions in a newest to oldest order
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/pipeline/{pipelineId}/executions', 'PipelineExecutionController@getExecutions');
/**
 * delete deletePipeline
 * Summary: Delete a Pipeline
 * Notes: Delete a pipeline. All the data is wiped.

 */
Route::delete('/api/program/{programId}/pipeline/{pipelineId}', 'PipelinesController@deletePipeline');
/**
 * get getPipeline
 * Summary: Get Pipeline
 * Notes: Returns a pipeline by its id
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/pipeline/{pipelineId}', 'PipelinesController@getPipeline');
/**
 * patch patchPipeline
 * Summary: Patches Pipeline
 * Notes: Patches a pipeline within an program.
 * Output-Formats: [application/json]
 */
Route::patch('/api/program/{programId}/pipeline/{pipelineId}', 'PipelinesController@patchPipeline');
/**
 * get getPipelines
 * Summary: List Pipelines
 * Notes: Returns all the pipelines that the requesting user has access to in an program
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/pipelines', 'PipelinesController@getPipelines');
/**
 * delete deleteProgram
 * Summary: Delete Program
 * Notes: Delete an program
 * Output-Formats: [application/json]
 */
Route::delete('/api/program/{programId}', 'ProgramsController@deleteProgram');
/**
 * get getProgram
 * Summary: Get Program
 * Notes: Returns a program by its id
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}', 'ProgramsController@getProgram');
/**
 * get getPrograms
 * Summary: Lists Programs
 * Notes: Returns all programs that the requesting user has access to
 * Output-Formats: [application/json]
 */
Route::get('/api/programs', 'ProgramsController@getPrograms');
/**
 * get getRepositories
 * Summary: Lists Repositories
 * Notes: Lists all Repositories in an program
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/repositories', 'RepositoriesController@getRepositories');
/**
 * get getRepository
 * Summary: Get Repository
 * Notes: Returns an repository by its id
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/repository/{repositoryId}', 'RepositoriesController@getRepository');
/**
 * get getEnvironmentVariables
 * Summary: List User Environment Variables
 * Notes: List the user defined variables for an environment (Cloud Service only).
 * Output-Formats: [application/json]
 */
Route::get('/api/program/{programId}/environment/{environmentId}/variables', 'VariablesController@getEnvironmentVariables');
/**
 * patch patchEnvironmentVariables
 * Summary: Patch User Environment Variables
 * Notes: Modify multiple environment variables (Cloud Service only). To delete a variable, include it with an empty value.
 * Output-Formats: [application/json]
 */
Route::patch('/api/program/{programId}/environment/{environmentId}/variables', 'VariablesController@patchEnvironmentVariables');

