/**
 * Cloud Manager API
 * This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/master/swagger-specs/api.yaml.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.BranchList
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BranchesApi {

  def apply(baseUrl: String = "https://cloudmanager.adobe.io") = new BranchesApi(baseUrl)
}

class BranchesApi(baseUrl: String) {
  
  /**
   * Returns the list of branches from a repository
   * 
   * Expected answers:
   *   code 200 : BranchList (Successful retrieval of the list of repository branches)
   * 
   * @param programId Identifier of the program.
   * @param repositoryId Identifier of the repository
   * @param xGwImsOrgId IMS organization ID that the request is being made under.
   * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO
   * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
   */
  def getBranches(programId: String, repositoryId: String, xGwImsOrgId: String, authorization: String, xApiKey: String): ApiRequest[BranchList] =
    ApiRequest[BranchList](ApiMethods.GET, baseUrl, "/api/program/{programId}/repository/{repositoryId}/branches", "application/json")
      .withPathParam("programId", programId)
      .withPathParam("repositoryId", repositoryId)
      .withHeaderParam("x-gw-ims-org-id", xGwImsOrgId)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("x-api-key", xApiKey)
      .withSuccessResponse[BranchList](200)
      



}

