/**
 * Cloud Manager API
 * This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/master/swagger-specs/api.yaml.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Program
import org.openapitools.client.model.ProgramList
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProgramsApi {

  def apply(baseUrl: String = "https://cloudmanager.adobe.io") = new ProgramsApi(baseUrl)
}

class ProgramsApi(baseUrl: String) {
  
  /**
   * Delete an program
   * 
   * Expected answers:
   *   code 200 : Program (successful operation)
   *   code 202 : Program (Delete was successful.)
   *   code 403 :  (Forbidden.)
   *   code 404 :  (Program not found.)
   *   code 412 :  (Deletion not supported)
   * 
   * @param programId Identifier of the program
   * @param xGwImsOrgId IMS organization ID that the request is being made under.
   * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO
   * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
   */
  def deleteProgram(programId: String, xGwImsOrgId: String, authorization: String, xApiKey: String): ApiRequest[Program] =
    ApiRequest[Program](ApiMethods.DELETE, baseUrl, "/api/program/{programId}", "application/json")
      .withPathParam("programId", programId)
      .withHeaderParam("x-gw-ims-org-id", xGwImsOrgId)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("x-api-key", xApiKey)
      .withSuccessResponse[Program](200)
      .withErrorResponse[Program](202)
      .withErrorResponse[Unit](403)
      .withErrorResponse[Unit](404)
      .withErrorResponse[Unit](412)
      

  /**
   * Returns a program by its id
   * 
   * Expected answers:
   *   code 200 : Program (Successful retrieval of program)
   *   code 404 :  (Program not found)
   * 
   * @param programId Identifier of the program
   * @param xGwImsOrgId IMS organization ID that the request is being made under.
   * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO
   * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
   */
  def getProgram(programId: String, xGwImsOrgId: String, authorization: String, xApiKey: String): ApiRequest[Program] =
    ApiRequest[Program](ApiMethods.GET, baseUrl, "/api/program/{programId}", "application/json")
      .withPathParam("programId", programId)
      .withHeaderParam("x-gw-ims-org-id", xGwImsOrgId)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("x-api-key", xApiKey)
      .withSuccessResponse[Program](200)
      .withErrorResponse[Unit](404)
      

  /**
   * Returns all programs that the requesting user has access to
   * 
   * Expected answers:
   *   code 200 : ProgramList (successful operation)
   * 
   * @param xGwImsOrgId IMS organization ID that the request is being made under.
   * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO
   * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
   */
  def getPrograms(xGwImsOrgId: String, authorization: String, xApiKey: String): ApiRequest[ProgramList] =
    ApiRequest[ProgramList](ApiMethods.GET, baseUrl, "/api/programs", "application/json")
      .withHeaderParam("x-gw-ims-org-id", xGwImsOrgId)
      .withHeaderParam("Authorization", authorization)
      .withHeaderParam("x-api-key", xApiKey)
      .withSuccessResponse[ProgramList](200)
      



}

