/**
 * Cloud Manager API
 * This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/master/swagger-specs/api.yaml.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.Pipeline;
import org.openapitools.client.model.PipelineList;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class PipelinesApi {
  String basePath = "https://cloudmanager.adobe.io";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Delete a Pipeline
  * Delete a pipeline. All the data is wiped.
   * @param programId Identifier of the program
   * @param pipelineId Identifier of the pipeline
   * @param xGwImsOrgId IMS organization ID that the request is being made under.
   * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO
   * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
   * @return void
  */
  public void deletePipeline (String programId, String pipelineId, String xGwImsOrgId, String authorization, String xApiKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'programId' is set
    if (programId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'programId' when calling deletePipeline",
        new ApiException(400, "Missing the required parameter 'programId' when calling deletePipeline"));
    }
    // verify the required parameter 'pipelineId' is set
    if (pipelineId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pipelineId' when calling deletePipeline",
        new ApiException(400, "Missing the required parameter 'pipelineId' when calling deletePipeline"));
    }
    // verify the required parameter 'xGwImsOrgId' is set
    if (xGwImsOrgId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xGwImsOrgId' when calling deletePipeline",
        new ApiException(400, "Missing the required parameter 'xGwImsOrgId' when calling deletePipeline"));
    }
    // verify the required parameter 'authorization' is set
    if (authorization == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'authorization' when calling deletePipeline",
        new ApiException(400, "Missing the required parameter 'authorization' when calling deletePipeline"));
    }
    // verify the required parameter 'xApiKey' is set
    if (xApiKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xApiKey' when calling deletePipeline",
        new ApiException(400, "Missing the required parameter 'xApiKey' when calling deletePipeline"));
    }

    // create path and map variables
    String path = "/api/program/{programId}/pipeline/{pipelineId}".replaceAll("\\{" + "programId" + "\\}", apiInvoker.escapeString(programId.toString())).replaceAll("\\{" + "pipelineId" + "\\}", apiInvoker.escapeString(pipelineId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    headerParams.put("x-gw-ims-org-id", ApiInvoker.parameterToString(xGwImsOrgId));
    headerParams.put("Authorization", ApiInvoker.parameterToString(authorization));
    headerParams.put("x-api-key", ApiInvoker.parameterToString(xApiKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return ;
      } else {
         return ;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete a Pipeline
   * Delete a pipeline. All the data is wiped.
   * @param programId Identifier of the program   * @param pipelineId Identifier of the pipeline   * @param xGwImsOrgId IMS organization ID that the request is being made under.   * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO   * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
  */
  public void deletePipeline (String programId, String pipelineId, String xGwImsOrgId, String authorization, String xApiKey, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'programId' is set
    if (programId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'programId' when calling deletePipeline",
        new ApiException(400, "Missing the required parameter 'programId' when calling deletePipeline"));
    }
    // verify the required parameter 'pipelineId' is set
    if (pipelineId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pipelineId' when calling deletePipeline",
        new ApiException(400, "Missing the required parameter 'pipelineId' when calling deletePipeline"));
    }
    // verify the required parameter 'xGwImsOrgId' is set
    if (xGwImsOrgId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xGwImsOrgId' when calling deletePipeline",
        new ApiException(400, "Missing the required parameter 'xGwImsOrgId' when calling deletePipeline"));
    }
    // verify the required parameter 'authorization' is set
    if (authorization == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'authorization' when calling deletePipeline",
        new ApiException(400, "Missing the required parameter 'authorization' when calling deletePipeline"));
    }
    // verify the required parameter 'xApiKey' is set
    if (xApiKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xApiKey' when calling deletePipeline",
        new ApiException(400, "Missing the required parameter 'xApiKey' when calling deletePipeline"));
    }

    // create path and map variables
    String path = "/api/program/{programId}/pipeline/{pipelineId}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "programId" + "\\}", apiInvoker.escapeString(programId.toString())).replaceAll("\\{" + "pipelineId" + "\\}", apiInvoker.escapeString(pipelineId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();


    headerParams.put("x-gw-ims-org-id", ApiInvoker.parameterToString(xGwImsOrgId));
    headerParams.put("Authorization", ApiInvoker.parameterToString(authorization));
    headerParams.put("x-api-key", ApiInvoker.parameterToString(xApiKey));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
              responseListener.onResponse(localVarResponse);
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Pipeline
  * Returns a pipeline by its id
   * @param programId Identifier of the program
   * @param pipelineId Identifier of the pipeline
   * @param xGwImsOrgId IMS organization ID that the request is being made under.
   * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO
   * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
   * @return Pipeline
  */
  public Pipeline getPipeline (String programId, String pipelineId, String xGwImsOrgId, String authorization, String xApiKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'programId' is set
    if (programId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'programId' when calling getPipeline",
        new ApiException(400, "Missing the required parameter 'programId' when calling getPipeline"));
    }
    // verify the required parameter 'pipelineId' is set
    if (pipelineId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pipelineId' when calling getPipeline",
        new ApiException(400, "Missing the required parameter 'pipelineId' when calling getPipeline"));
    }
    // verify the required parameter 'xGwImsOrgId' is set
    if (xGwImsOrgId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xGwImsOrgId' when calling getPipeline",
        new ApiException(400, "Missing the required parameter 'xGwImsOrgId' when calling getPipeline"));
    }
    // verify the required parameter 'authorization' is set
    if (authorization == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'authorization' when calling getPipeline",
        new ApiException(400, "Missing the required parameter 'authorization' when calling getPipeline"));
    }
    // verify the required parameter 'xApiKey' is set
    if (xApiKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xApiKey' when calling getPipeline",
        new ApiException(400, "Missing the required parameter 'xApiKey' when calling getPipeline"));
    }

    // create path and map variables
    String path = "/api/program/{programId}/pipeline/{pipelineId}".replaceAll("\\{" + "programId" + "\\}", apiInvoker.escapeString(programId.toString())).replaceAll("\\{" + "pipelineId" + "\\}", apiInvoker.escapeString(pipelineId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    headerParams.put("x-gw-ims-org-id", ApiInvoker.parameterToString(xGwImsOrgId));
    headerParams.put("Authorization", ApiInvoker.parameterToString(authorization));
    headerParams.put("x-api-key", ApiInvoker.parameterToString(xApiKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (Pipeline) ApiInvoker.deserialize(localVarResponse, "", Pipeline.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Pipeline
   * Returns a pipeline by its id
   * @param programId Identifier of the program   * @param pipelineId Identifier of the pipeline   * @param xGwImsOrgId IMS organization ID that the request is being made under.   * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO   * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
  */
  public void getPipeline (String programId, String pipelineId, String xGwImsOrgId, String authorization, String xApiKey, final Response.Listener<Pipeline> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'programId' is set
    if (programId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'programId' when calling getPipeline",
        new ApiException(400, "Missing the required parameter 'programId' when calling getPipeline"));
    }
    // verify the required parameter 'pipelineId' is set
    if (pipelineId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pipelineId' when calling getPipeline",
        new ApiException(400, "Missing the required parameter 'pipelineId' when calling getPipeline"));
    }
    // verify the required parameter 'xGwImsOrgId' is set
    if (xGwImsOrgId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xGwImsOrgId' when calling getPipeline",
        new ApiException(400, "Missing the required parameter 'xGwImsOrgId' when calling getPipeline"));
    }
    // verify the required parameter 'authorization' is set
    if (authorization == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'authorization' when calling getPipeline",
        new ApiException(400, "Missing the required parameter 'authorization' when calling getPipeline"));
    }
    // verify the required parameter 'xApiKey' is set
    if (xApiKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xApiKey' when calling getPipeline",
        new ApiException(400, "Missing the required parameter 'xApiKey' when calling getPipeline"));
    }

    // create path and map variables
    String path = "/api/program/{programId}/pipeline/{pipelineId}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "programId" + "\\}", apiInvoker.escapeString(programId.toString())).replaceAll("\\{" + "pipelineId" + "\\}", apiInvoker.escapeString(pipelineId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();


    headerParams.put("x-gw-ims-org-id", ApiInvoker.parameterToString(xGwImsOrgId));
    headerParams.put("Authorization", ApiInvoker.parameterToString(authorization));
    headerParams.put("x-api-key", ApiInvoker.parameterToString(xApiKey));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((Pipeline) ApiInvoker.deserialize(localVarResponse,  "", Pipeline.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List Pipelines
  * Returns all the pipelines that the requesting user has access to in an program
   * @param programId Identifier of the program
   * @param xGwImsOrgId IMS organization ID that the request is being made under.
   * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO
   * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
   * @return PipelineList
  */
  public PipelineList getPipelines (String programId, String xGwImsOrgId, String authorization, String xApiKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'programId' is set
    if (programId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'programId' when calling getPipelines",
        new ApiException(400, "Missing the required parameter 'programId' when calling getPipelines"));
    }
    // verify the required parameter 'xGwImsOrgId' is set
    if (xGwImsOrgId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xGwImsOrgId' when calling getPipelines",
        new ApiException(400, "Missing the required parameter 'xGwImsOrgId' when calling getPipelines"));
    }
    // verify the required parameter 'authorization' is set
    if (authorization == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'authorization' when calling getPipelines",
        new ApiException(400, "Missing the required parameter 'authorization' when calling getPipelines"));
    }
    // verify the required parameter 'xApiKey' is set
    if (xApiKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xApiKey' when calling getPipelines",
        new ApiException(400, "Missing the required parameter 'xApiKey' when calling getPipelines"));
    }

    // create path and map variables
    String path = "/api/program/{programId}/pipelines".replaceAll("\\{" + "programId" + "\\}", apiInvoker.escapeString(programId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    headerParams.put("x-gw-ims-org-id", ApiInvoker.parameterToString(xGwImsOrgId));
    headerParams.put("Authorization", ApiInvoker.parameterToString(authorization));
    headerParams.put("x-api-key", ApiInvoker.parameterToString(xApiKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (PipelineList) ApiInvoker.deserialize(localVarResponse, "", PipelineList.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List Pipelines
   * Returns all the pipelines that the requesting user has access to in an program
   * @param programId Identifier of the program   * @param xGwImsOrgId IMS organization ID that the request is being made under.   * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO   * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
  */
  public void getPipelines (String programId, String xGwImsOrgId, String authorization, String xApiKey, final Response.Listener<PipelineList> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'programId' is set
    if (programId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'programId' when calling getPipelines",
        new ApiException(400, "Missing the required parameter 'programId' when calling getPipelines"));
    }
    // verify the required parameter 'xGwImsOrgId' is set
    if (xGwImsOrgId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xGwImsOrgId' when calling getPipelines",
        new ApiException(400, "Missing the required parameter 'xGwImsOrgId' when calling getPipelines"));
    }
    // verify the required parameter 'authorization' is set
    if (authorization == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'authorization' when calling getPipelines",
        new ApiException(400, "Missing the required parameter 'authorization' when calling getPipelines"));
    }
    // verify the required parameter 'xApiKey' is set
    if (xApiKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xApiKey' when calling getPipelines",
        new ApiException(400, "Missing the required parameter 'xApiKey' when calling getPipelines"));
    }

    // create path and map variables
    String path = "/api/program/{programId}/pipelines".replaceAll("\\{format\\}","json").replaceAll("\\{" + "programId" + "\\}", apiInvoker.escapeString(programId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();


    headerParams.put("x-gw-ims-org-id", ApiInvoker.parameterToString(xGwImsOrgId));
    headerParams.put("Authorization", ApiInvoker.parameterToString(authorization));
    headerParams.put("x-api-key", ApiInvoker.parameterToString(xApiKey));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((PipelineList) ApiInvoker.deserialize(localVarResponse,  "", PipelineList.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Patches Pipeline
  * Patches a pipeline within an program.
   * @param programId Identifier of the program
   * @param pipelineId Identifier of the pipeline
   * @param xGwImsOrgId IMS organization ID that the request is being made under.
   * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO
   * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
   * @param contentType Must always be application/json
   * @param body The updated Pipeline
   * @return Pipeline
  */
  public Pipeline patchPipeline (String programId, String pipelineId, String xGwImsOrgId, String authorization, String xApiKey, String contentType, Pipeline body) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = body;
    // verify the required parameter 'programId' is set
    if (programId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'programId' when calling patchPipeline",
        new ApiException(400, "Missing the required parameter 'programId' when calling patchPipeline"));
    }
    // verify the required parameter 'pipelineId' is set
    if (pipelineId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pipelineId' when calling patchPipeline",
        new ApiException(400, "Missing the required parameter 'pipelineId' when calling patchPipeline"));
    }
    // verify the required parameter 'xGwImsOrgId' is set
    if (xGwImsOrgId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xGwImsOrgId' when calling patchPipeline",
        new ApiException(400, "Missing the required parameter 'xGwImsOrgId' when calling patchPipeline"));
    }
    // verify the required parameter 'authorization' is set
    if (authorization == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'authorization' when calling patchPipeline",
        new ApiException(400, "Missing the required parameter 'authorization' when calling patchPipeline"));
    }
    // verify the required parameter 'xApiKey' is set
    if (xApiKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xApiKey' when calling patchPipeline",
        new ApiException(400, "Missing the required parameter 'xApiKey' when calling patchPipeline"));
    }
    // verify the required parameter 'contentType' is set
    if (contentType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'contentType' when calling patchPipeline",
        new ApiException(400, "Missing the required parameter 'contentType' when calling patchPipeline"));
    }
    // verify the required parameter 'body' is set
    if (body == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'body' when calling patchPipeline",
        new ApiException(400, "Missing the required parameter 'body' when calling patchPipeline"));
    }

    // create path and map variables
    String path = "/api/program/{programId}/pipeline/{pipelineId}".replaceAll("\\{" + "programId" + "\\}", apiInvoker.escapeString(programId.toString())).replaceAll("\\{" + "pipelineId" + "\\}", apiInvoker.escapeString(pipelineId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    headerParams.put("x-gw-ims-org-id", ApiInvoker.parameterToString(xGwImsOrgId));
    headerParams.put("Authorization", ApiInvoker.parameterToString(authorization));
    headerParams.put("x-api-key", ApiInvoker.parameterToString(xApiKey));
    headerParams.put("Content-Type", ApiInvoker.parameterToString(contentType));
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (Pipeline) ApiInvoker.deserialize(localVarResponse, "", Pipeline.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Patches Pipeline
   * Patches a pipeline within an program.
   * @param programId Identifier of the program   * @param pipelineId Identifier of the pipeline   * @param xGwImsOrgId IMS organization ID that the request is being made under.   * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO   * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io   * @param contentType Must always be application/json   * @param body The updated Pipeline
  */
  public void patchPipeline (String programId, String pipelineId, String xGwImsOrgId, String authorization, String xApiKey, String contentType, Pipeline body, final Response.Listener<Pipeline> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = body;

    // verify the required parameter 'programId' is set
    if (programId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'programId' when calling patchPipeline",
        new ApiException(400, "Missing the required parameter 'programId' when calling patchPipeline"));
    }
    // verify the required parameter 'pipelineId' is set
    if (pipelineId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'pipelineId' when calling patchPipeline",
        new ApiException(400, "Missing the required parameter 'pipelineId' when calling patchPipeline"));
    }
    // verify the required parameter 'xGwImsOrgId' is set
    if (xGwImsOrgId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xGwImsOrgId' when calling patchPipeline",
        new ApiException(400, "Missing the required parameter 'xGwImsOrgId' when calling patchPipeline"));
    }
    // verify the required parameter 'authorization' is set
    if (authorization == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'authorization' when calling patchPipeline",
        new ApiException(400, "Missing the required parameter 'authorization' when calling patchPipeline"));
    }
    // verify the required parameter 'xApiKey' is set
    if (xApiKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xApiKey' when calling patchPipeline",
        new ApiException(400, "Missing the required parameter 'xApiKey' when calling patchPipeline"));
    }
    // verify the required parameter 'contentType' is set
    if (contentType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'contentType' when calling patchPipeline",
        new ApiException(400, "Missing the required parameter 'contentType' when calling patchPipeline"));
    }
    // verify the required parameter 'body' is set
    if (body == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'body' when calling patchPipeline",
        new ApiException(400, "Missing the required parameter 'body' when calling patchPipeline"));
    }

    // create path and map variables
    String path = "/api/program/{programId}/pipeline/{pipelineId}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "programId" + "\\}", apiInvoker.escapeString(programId.toString())).replaceAll("\\{" + "pipelineId" + "\\}", apiInvoker.escapeString(pipelineId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();


    headerParams.put("x-gw-ims-org-id", ApiInvoker.parameterToString(xGwImsOrgId));
    headerParams.put("Authorization", ApiInvoker.parameterToString(authorization));
    headerParams.put("x-api-key", ApiInvoker.parameterToString(xApiKey));
    headerParams.put("Content-Type", ApiInvoker.parameterToString(contentType));

    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((Pipeline) ApiInvoker.deserialize(localVarResponse,  "", Pipeline.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
