/**
 * Cloud Manager API
 * This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/master/swagger-specs/api.yaml.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: opensource@shinesolutions.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.Pipeline
import io.swagger.client.model.PipelineList

trait PipelinesApi extends Service {


  final override def descriptor = {
    import Service._
    named("PipelinesApi").withCalls(
      restCall(Method.DELETE, "/api/program/:programId/pipeline/:pipelineId", deletePipeline _), 
      restCall(Method.GET, "/api/program/:programId/pipeline/:pipelineId", getPipeline _), 
      restCall(Method.GET, "/api/program/:programId/pipelines", getPipelines _), 
      restCall(Method.PATCH, "/api/program/:programId/pipeline/:pipelineId", patchPipeline _)
    ).withAutoAcl(true)
  }




  // xGwImsOrgId:String  -- not yet supported heder params
  // authorization:String  -- not yet supported heder params
  // xApiKey:String  -- not yet supported heder params
  /**
    * Delete a Pipeline
    * Delete a pipeline. All the data is wiped.
    *  
    * @param programId Identifier of the program  
    * @param pipelineId Identifier of the pipeline  
    * @param xGwImsOrgId IMS organization ID that the request is being made under.  
    * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO  
    * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io 
    * @return void
    */
  def deletePipeline(programId: String, pipelineId: String): ServiceCall[NotUsed ,Done]
  


  // xGwImsOrgId:String  -- not yet supported heder params
  // authorization:String  -- not yet supported heder params
  // xApiKey:String  -- not yet supported heder params
  /**
    * Get Pipeline
    * Returns a pipeline by its id
    *  
    * @param programId Identifier of the program  
    * @param pipelineId Identifier of the pipeline  
    * @param xGwImsOrgId IMS organization ID that the request is being made under.  
    * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO  
    * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io 
    * @return Pipeline
    */
  def getPipeline(programId: String, pipelineId: String): ServiceCall[NotUsed ,Pipeline]
  

  // xGwImsOrgId:String  -- not yet supported heder params
  // authorization:String  -- not yet supported heder params
  // xApiKey:String  -- not yet supported heder params
  /**
    * List Pipelines
    * Returns all the pipelines that the requesting user has access to in an program
    *  
    * @param programId Identifier of the program  
    * @param xGwImsOrgId IMS organization ID that the request is being made under.  
    * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO  
    * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io 
    * @return PipelineList
    */
  def getPipelines(programId: String): ServiceCall[NotUsed ,PipelineList]
  


  // xGwImsOrgId:String  -- not yet supported heder params
  // authorization:String  -- not yet supported heder params
  // xApiKey:String  -- not yet supported heder params
  // `contentType`:String  -- not yet supported heder params

  /**
    * Patches Pipeline
    * Patches a pipeline within an program.
    *  
    * @param programId Identifier of the program  
    * @param pipelineId Identifier of the pipeline  
    * @param xGwImsOrgId IMS organization ID that the request is being made under.  
    * @param authorization Bearer [token] - An access token for the technical account created through integration with Adobe IO  
    * @param xApiKey IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io  
    * @param `contentType` Must always be application/json  
    * @return Pipeline Body Parameter  The updated Pipeline 
    */
  def patchPipeline(programId: String, pipelineId: String): ServiceCall[Pipeline ,Pipeline]
  

  }

